@media screen and (min-width: 600px) {
  .app-container {
    margin-left: 5rem;
  }
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

// making scrolbar does not take space
html {
  overflow-y: overlay;
}
