$main-color: #070f30;
$dark-color: #020925;
$light-color: #04134e;
$text-color: #dbe6fd;
$accent-color: #0b1f73;
$priceRed: #f73f52;
$priceGreen: #39a6a3;

@media screen and (min-width: 600px) {
  .app-container {
    margin-left: 5rem;
  }
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
@media screen and (max-width: 600px) {
  .app-container {
    margin-bottom: 5rem;
  }
}
// making scrolbar does not take space
html {
  overflow-y: overlay;
}
a {
  color: $text-color;
}

.price-red {
  color: $priceRed;
}
.price-green {
  color: $priceGreen;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}

.bottom-alert {
  background-color: $text-color;
  color: $dark-color;
  font-weight: bold;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 300px;
  top: 1rem;
  right: -20rem;
  height: 30px;
  transition: all 0.2s ease-in;
}

.bottom-alert-active {
  right: 2rem;
}
