$main-color: #070f30;
$dark-color: #020925;
$light-color: #04134e;
$text-color: #dbe6fd;
$accent-color: #0b1f73;

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  & .head {
    width: 100%;
    display: flex;
    align-items: center;
    & h1 {
      font-size: 1.4rem;
    }
  }

  & .option {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-color;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px $text-color;
  }
}

@media screen and (max-width: 500px) {
  .profile-container {
    min-width: 0;
    & .head {
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }
}
