$main-color: #070f30;
$dark-color: #020925;
$light-color: #04134e;
$text-color: #dbe6fd;
$accent-color: #0b1f73;

.single-coin-container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  border: 1px solid $text-color;
  border-radius: 1rem;

  & .top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #ffffff20;
    padding: 0.5rem 1rem;
    & svg {
      width: 3rem;
      height: 3rem;
    }
    & .name {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      & img {
        margin-right: 1rem;
      }
      & p {
        font-size: 1.2rem;
      }
    }
  }

  & .content {
    display: flex;
    width: 100%;
    margin: auto;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    & .details-column {
      width: 50%;
      background: $light-color;
      & .market-data {
        font-size: 1.2rem;
        padding: 1rem;
        display: grid;
        row-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        & .data {
          text-align: end;
        }
      }
    }
  }

  & .price-chart-container {
    max-width: 1400px;
    margin: auto;

    & .tooltip {
      background: $accent-color;
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
    & .time-buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      & button {
        border: none;
        background: $accent-color;
        padding: 0.5rem;
        color: $text-color;
        margin: 0.5rem 0.5rem 0.5rem 0;
        &:hover {
          box-shadow: 0 0 5px $text-color;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .single-coin-container {
    border: none;
    & .content {
      display: flex;
      flex-direction: column;
      & .details-column {
        width: 100%;
      }
    }
  }
}
